*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#eef5ef;
}

header{
background:#118847;
color:white;
padding:20px;
text-align:center;
font-size:30px;
font-weight:bold;
}

main{
padding:20px;
}

.card{
background:white;
border-radius:20px;
padding:20px;
box-shadow:0 4px 15px rgba(0,0,0,.15);
}

input{
width:100%;
padding:15px;
font-size:18px;
border-radius:12px;
border:1px solid #ccc;
margin-top:15px;
}

button{
width:100%;
margin-top:15px;
padding:16px;
font-size:20px;
background:#118847;
color:white;
border:none;
border-radius:12px;
}

.resultado{
margin-top:25px;
text-align:center;
}

#producto{
font-size:22px;
font-weight:bold;
}

#precio{
font-size:48px;
color:#118847;
margin-top:15px;
font-weight:bold;
}

#codigo{
margin-top:15px;
color:#777;
}
